<!DOCTYPE html>
<html lang="en">
<head>
<meta name="author" content="sui">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="language" content="English">
<meta name="description" content="Small Legacy Tracker is Legacy Minecraft Server tracking panel">
<meta name="title" content="SLT">
<meta name="theme-color" content="#131313">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/style.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<%- include('../partials/head') %>
<title>SLT</title>
</head>
<%- include('../partials/header') %>

<div class="d-flex justify-content-between">
<div class="item">
  <h2><a href="./">SLT</a></h2>
  <p>Small Legacy Server List and Tracker</p>
</div>
<div class="item">
  <span type="button" id="toggle" class="btn btn-outline-primary">Show Chart</span>
</div>
</div>

<div class="stats"></div>

<div class="chart">
<div class="card bg-dark">
    <div class="card-header">Players Overtime across servers</div>
    <div class="card-body h-100 d-flex align-items-center justify-content-center"> <div class="serv"><canvas id="myChart"></canvas></div></div>
</div>
<br>
</div>

<div class="table-responsive-lg">
<table class="table table-bordered">
<thead>
<tr>
<th class="text-center text-bold"></th>
<th>Server</th>
<th>IP</th>
<th>Version</th>
<th>Description</th>
<th>Online</th>
<th>Peak</th>
<th>Unique</th>
</tr>
</thead>
<tbody>

<% data.forEach(element => { %>
<tr>
<td class="text-center"><img src="data:image/png;base64,<%= element.icon %>" alt="<%= element.name %>" width="50px"></td>
<td><a href="server/<%= element.id %>"><%= element.name %></a></td>
<td><%= element.ip %>&ensp;<span class="fa fa-clipboard copybtn text-success" data-clipboard-text="<%= element.ip %>"></span></td>
<td><%= element.version %></td>
<td style="max-width: 400px;"><%= element.desc %></td>
<td><%= element.online %></td>
<td><%= element.peak %></td>
<td><%= element.stored %></td>
</tr>
<% }) %>
</tbody>
</table>
</div>

<script src="assets/index.js"></script>
<script>getGlobalGraph()</script>
<script>getStats()</script>
<%- include('../partials/footer') %>