<!DOCTYPE html>
<html lang="en">
<head>
<meta name="author" content="sui">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="language" content="English">
<meta name="description" content="View <%= data.name %>'s information">
<meta name="title" content="SLT | Server <%= data.name %>">
<meta name="theme-color" content="#131313">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="../assets/style.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<%- include('../partials/head') %>
<title>SLT | Server <%= data.name %></title>
</head>
<%- include('../partials/header') %>


<h2><a href="../">SLT</a> | Server <strong><%= data.name %></strong></h2>
<p><strong><%= data.name %></strong>'s information </p>

<div class="row">
    <div class="col-lg-4">
        <div class="card bg-dark">
            <div class="card-header">Meta</div>
            <div class="card-body">
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">IP</label>
                    <%= data.nip %> &ensp; <span class="fa fa-clipboard copybtn text-success" data-clipboard-text="<%= data.nip %>"></span>
                </div>
                    <div class="card-title">
                        <label class="col-6 col-md-6" style="font-weight: bold;">Port</label>
                        <%= data.port %> 
                    </div>
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">Version</label>
                    <%= data.version %> 
                </div>
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">Authed</label>
                    <%= data.auth %> 
                </div>
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">Online Mode</label>
                    <%= data.onlinemode %> 
                </div>
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">Whitelisted</label>
                    <%= data.whitelisted %> 
                </div>
            </div>
        </div>
        <br>
    <div class="card bg-dark">
        <div class="card-header">Statistics</div>
        <div class="card-body">
            <div class="card-title">
                <label class="col-6 col-md-6" style="font-weight: bold;">Unique Joined</label>
                <%= data.stored %> 
            </div>
            <div class="card-title">
                <label class="col-6 col-md-6" style="font-weight: bold;">Peak Online</label>
                <%= data.peak %> 
            </div>
            <div class="card-title">
                <label class="col-6 col-md-6" style="font-weight: bold;">Online</label>
                <%= data.online %> 
            </div>
            <div class="card-title">
                <label class="col-6 col-md-6" style="font-weight: bold;">Player Slots</label>
                <%= data.max %> 
            </div>
        </div>
    </div>
    <br>
</div>
<div class="col-lg-8">
    <div class="card bg-dark">
        <div class="card-header">Information</div>
        <div class="card-body">
            <div class="card-title">
                <input type="hidden" id="id" name="id" value="<%= data.id %>">
                <input type="hidden" id="name" name="name" value="<%= data.name %>">
                
            <div class="item">
                <img src="data:image/png;base64,<%= data.icon %>" alt="<%= data.name %>" style="float: left" width="100px">
            </div>
            <div class="item">
                    <h2 class="text-center"><strong><%= data.ip %> </strong></h2>
                </div>                                      
            </div>
            <div class="card-title">
                <p class="text-center"><%= data.desc %></p>
            </div>
        </div>
    </div>
    <br>

<div class="card bg-dark">
    <div class="card-header">Graph of the Server</div>
    <div class="card-body h-100 d-flex align-items-center justify-content-center"><div class="serv"><canvas id="myChart"></canvas></div></canvas></div>
</div>

</div>

</div>

<script src="../assets/index.js"></script>
<script>getServerGraph();</script>
<%- include('../partials/footer') %>

