<!DOCTYPE html>
<html lang="en">
<head>
<meta name="author" content="sui">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="language" content="English">
<meta name="description" content="View <%= data.name %>'s information">
<meta name="title" content="Legacy Server | <%= data.name %>">
<meta name="theme-color" content="<%= data.color %>">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="../assets/style.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
<%- include('../partials/head') %>
<title>Legacy Server | <%= data.name %></title>
</head>
<body>
<%- include('../partials/nav') %>
<div class="c m">
<div class="d-flex justify-content-between">
<div class="item">
<h2>Legacy Server</h2>
</div>
</div>
<p><strong class="text-<%= data.id %>"><%= data.name %></strong>'s information</p>
<div class="row">
    <div class="col-lg-4">
        <div class="card bg-dark">
            <div class="card-header">Meta</div>
            <div class="card-body">
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">IP</label>
                    <%= data.nip %>&ensp;<span class="cb-<%= data.id %> fa fa-clipboard copybtn" data-clipboard-text="<%= data.nip %>"></span>
                </div>
                    <div class="card-title">
                        <label class="col-6 col-md-6" style="font-weight: bold;">Port</label>
                        <%= data.port %> 
                    </div>
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">Version</label>
                    <span class="badge badge-info"><%= data.version %></span>
                </div>
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">Authed</label>
                    <span class="badge badge-<%= data.auth ? 'success' : 'danger' %>"><%= data.auth %></span>
                </div>
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">Online Mode</label>
                    <span class="badge badge-<%= data.onlinemode  ? 'success' : 'danger' %>"><%= data.onlinemode %></span>
                </div>
                <div class="card-title">
                    <label class="col-6 col-md-6" style="font-weight: bold;">Whitelisted</label>
                    <span class="badge badge-<%= data.whitelisted ? 'success' : 'danger' %>"><%= data.whitelisted %></span>
                </div>
            </div>
        </div>
        <br>
    <div class="card bg-dark">
        <div class="card-header">Statistics</div>
        <div class="card-body">
            <div class="card-title">
                <label class="col-6 col-md-6" style="font-weight: bold;">Unique Joined</label>
                <%= data.stored.toLocaleString() %> 
            </div>
            <div class="card-title">
                <label class="col-6 col-md-6" style="font-weight: bold;">Peak Online</label>
                <%= data.peak.toLocaleString() %> 
            </div>
            <div class="card-title">
                <label class="col-6 col-md-6" style="font-weight: bold;">Online</label>
                <%= data.online.toLocaleString() %> 
            </div>
            <div class="card-title">
                <label class="col-6 col-md-6" style="font-weight: bold;">Player Slots</label>
                <%= data.max.toLocaleString() %> 
            </div>
        </div>
    </div>
    <br>
</div>
<div class="col-lg-8">
    <div class="card bg-dark">
        <div class="card-header">Information</div>
        <div class="card-body">
            <div class="card-title">
                <input type="hidden" id="id" name="id" value="<%= data.id %>">
                <input type="hidden" id="name" name="name" value="<%= data.name %>">
                <input type="hidden" id="color" name="color" value="<%= data.color %>">
                
            <div class="item">
                <img src="data:image/png;base64,<%= data.icon ? data.icon : '/9j/4AAQSkZJRgABAQAAAQABAAD//gA7Q1JFQVRPUjogZ2QtanBlZyB2MS4wICh1c2luZyBJSkcgSlBFRyB2NjIpLCBxdWFsaXR5ID0gOTAK/9sAQwADAgIDAgIDAwMDBAMDBAUIBQUEBAUKBwcGCAwKDAwLCgsLDQ4SEA0OEQ4LCxAWEBETFBUVFQwPFxgWFBgSFBUU/9sAQwEDBAQFBAUJBQUJFA0LDRQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQU/8AAEQgAgACAAwEiAAIRAQMRAf/EAB8AAAEFAQEBAQEBAAAAAAAAAAABAgMEBQYHCAkKC//EALUQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+v/EAB8BAAMBAQEBAQEBAQEAAAAAAAABAgMEBQYHCAkKC//EALURAAIBAgQEAwQHBQQEAAECdwABAgMRBAUhMQYSQVEHYXETIjKBCBRCkaGxwQkjM1LwFWJy0QoWJDThJfEXGBkaJicoKSo1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoKDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uLj5OXm5+jp6vLz9PX29/j5+v/aAAwDAQACEQMRAD8A9/20baWiv3g/BxNtG2looATbRtpaKAE20baWigBNtG2looATbRtpaKAE20baWigBNtG2looAdgUYFLRUF2EwKMClooCwmBRgVwfjP44eEPAt9DZ6jqQluZGKvFZjzmhwOrgH5cngDr7cHG14J+IGifEHTTe6NdedGGIKSDZIMHGSp5x71xRxuGnWeHjUTmul1c1dCpGPO4u3c6LAowKWiu0ysJgUYFLRQFhMCjApaKAsJgUYFORd7qucZOK6yDwHnmW8/BE/rmuatiaWHt7R2udNHC1cRf2cb2OWtYVnuYY2O1XcKT6ZNd1B4J02LG9ZZv8AffH8sUlt4NsLdlYmWRlOQWbHP4Vi6pc3sN3LDJdyOFPGG4I7dK+dxuYOo0qEml16H0uBy5U03iIpvp1Of20bafto219Rc+WsM21FebltJypwwjYgjqDirG2uY8e/ETRvhzp0d1q1x5bTbhBCoJaVhjIAH1HPQZrKrVp0YOdSVkurKhBzkoxV2fnV4ivDB4l1D7S7eYt1IW3Ak/fOc5yfzz+NdV8IviS3w012LWIbQ3+FaMQFzGrbhjJIJ6ZzjH5dR1/x9+IHhP4i2DXa6G+n+JwY0W5jkDB0DfNvC8ZAOAck4/DHjeoXqbwtjHN9jGAN7DO4jnOMdcflivwWvRWExCrYWpzWd00v0aP0aOHnWopVKbV9Gj9AvhD8Xbf4r6XqF6lkNNW0cKUebfxg5JO0DsfwIroNT+InhfRtwvPEOmwMvVDcoWH/AAEHNfAPg+XVdIjuHSeayjuIzEyW8pHmRt1VtvYjjBzWoh/cHcishcICgIyvJOB0zwOcd6+qp8W4iFGMJ005rdt7/JWOajwzGtJynPlXRdfvZ+gtje2+p2kV1aTx3FvINySxtuVh9ao654p0fwysbavqlppqyHajXUyxgnjufrXxT4f8XajoUMYt9Turcxn7TlJnUAZxkgHDfQ9q5b4qfF7UviVf2U2o28ET2q7BJGCGkA6F+w+gwMk+tdz4wj7F/urVFtro+/mv61ODE8OSw1RL2l4vy1Pvfw3450DxgWGjarb6gyrvZYScgZxkgj3H5j1rd21+fnwK8fa54Z8Y2kmjHz52fbJaGPzRMmQzIV564x6+nPNfon4u+LXhX4e6ZBdaxMtj54wkUcYLMccgAcnrXo5dxJHFUJTqws479F+J588ptOyloUFyrAjqOa2z4kvJ1y9yUPooA/lXO6b4k0bxdZpqehXIu7CXgSqpUE4B4BAPQirO2vpJ06OYUo1L6dGcFKtUwFSUVqX5tRab/WTSSf7xJ/nUBul7KT9agWMucKCx9AKnTTbqT7tvKR67Disll+Gh8X4v/hjd5jip/D+C/wCHGNEyHDKVPoRSbfrWh4Y8S2fi/R472HYFbIeFyC0ZyRhh29fxrB1bxfoVjrJsZL+GGckDyyThT/tEcL07kdvWtaeMpzipyaSfW+hjVwrp7O5e2/WvAv2sEtZNP8Oh5ka4inkf7ISQzxYUs4PTAKgY6/MMdDX0BDJHcxiSGRJYz0dGyD+Ir4w+OWsS6h8T/ExI2fZ3jt0XORgKFz7Z9q8LiTEqll7ha/O0v1v+B7PD+D+s41N7RV/0PMLzSILyYOZtkbnJdskq3oeef61RtdNg01eFSRxk4YHg47DmtW9tpLS4eNFcRk5QAdVzgfyqS0tEKgzYLO2FDHHOTX5PGEpaX0P1KShH3nqZ7zN5ueDzjaQDj6cVatbsSDy2wsu3Yu5cj/aboecAfnVqOyWNXBVWYkndjOKy7i1e2cbeEPyj64P+NFTDyjG7NITp1Hyo1kdGXHARxwMfdjH4Drj9BXMeMdFhulN9DbhpztZwpBK57n145z2rbQtcW7bJGLHy4wBnIIHPTtTvPmlUqyuAxcsVZgOF4HJPHTiuSLcZXCVPm0PU/wBnjSfBXhXxpY3+qxNBmJWhvUkfEExxhnwQApG4c56jjuOO/aF8T+ItW8dXNvq81xPBaswsi8AUeSWYqwKrgqcEgjOQBycZqrpssk+nRIQCVh/1rHkYPI+nPbmti+8Wa/feCZvDa6mTpd0CqWkyCTYu4sSGYZXkdjjn8/Tp4rmofVqjaje+nV+e11+XY8DE5a3W9rFa/p5Hc/sWXHiS18YS2d1aXo8K3Fs07ebbt5Ilx8pDEYBP159+K+1RNZRfctVB9dgFeZ/ADxZpXib4aaBaWt4jahp1hDa3VozDzI2jQITt67TjIPoRXpXkL/eJ/Cv0XLaHscNGNOo5R3/4H9dT5KsoxqyvGzJTqoUYSHA/3sUw6tN/CiD65NRmHnjp70nk16PsmyPaI+cPhz4ui0qe2Wzv4Z9LkcJPJHh920Y69uorjfEN/Jf6ve3ssRjM0zOwAOASc45/H8q+cPBPxN1zw26xW9xvs0YM1u4UhmyM4OOOOK+gPDmv2njDQJ7kI6SbfMkJ5Cn696/OsJmf1uksO+mtv8j1XRpV58yVpW+86bSPi0Phz4U1N2iM9zOFForsdokweoGfXP4fl8932qx3MN1e6l5k1zeO0ks27JLbiSSM4JJrqfi5ZLo2v2tmL2C9lS1R5PIOVjcknYec5A2noOteN+KtWnM8tnkC3jdtqlMd8dTXNjsXUt7KbuoaJebep6mEpU8DQ9sr80+v5I6TTvFNvIDAN7sFygC4478jr2qee5lvJ/3QOI+cA9MHrXnOn3z28yyoyEksDk5/z2r0LQ7rdEbl5VVVU+YMMfvcduP/ANVeJTxEpL2cnoepg8R7aT5l75p20wuLZG3b2QBWz1zz+dc3qfi1tNuJR5fmJv2KDwRxyc1q3XnoJ4ISkbTfMjg8ggdvzry+7vZmmcXEjeduOUbr0r1PrXscPOnytydkn21v+KMcY5QlFw0ud3pmp/bppLpkGzLcJzxg/wCPtWvbv5au0HzNHbAEMv3t3ORg+9ecaVqFxHMsUE7hHAGwZKjPY5r0G3Uz2cglQozskXmbOMAdD+Qrxozcl7x3YPEurBxnujqrWy8nS7bagVpICDkkbSfve/Xt796y5dWtrCRY3uYo2W24V5BuyeOnBzg9Kuav4o03w/pdkLt5C+0kLCm7dnPU5AH868e8Qavb6lq0lxA0iwOxYb17cjHXv19qupNU37uv/DF18VGKtHVntXhn4gv4J1qLUbPU0tcShWkMnysq8YPzYIOMc5r6a8FftPeFfEcdpb3062d+2FmkDp9nU5wW3FshenX1HWvzsuNUeeLaxyA2W4HPI7/561q+FvEq6VcvDchpLSc7WRSqkd8jsOfX0r0cvzvE5dL90/de6ex8zjqFHHK842ffr/wx+sFpNBf2sNzbTJPbzIJI5Y23K6kZBBHUGvB/j1+0hc/CfxBHpGm2mn6hcmOOVxNI5KBt2Q23AU8DjJOGzjpnR8G/HfwZo/wh06HUdbGnX8OlbRBKmyUlUIG0Ju9Bg+4r4I1LUm1K7lmkuJLhzz5kzlmIHAGTya+4zjiD2eHprCyXNNXbTWm2lv62PlaGBSm/arRaGZZvtzsiLfNg7cHnHXH4fzrufB2qalpG+e1up7aOUYKxSBd3QjPXpVKCOO0aRoh5cjHqqIc8c5/WtCy1A2soleRnSNtvliNQGyDjvjHHvX5hyQjLmitf68j9CWVwU1K23r/kbc91/aMgO1ftbZ3szkmQ8sWbI5Pbj0HHJrC16/jFuVkIc8jL5b29K27aWPU7aZ4jLbmRwpG1VXA9Ap4/KsG8s4pbh/O3eYvBJbIyOOgH1ranK9z1HS0+H+vmclpaBrsbxkg5AxjGT1/XpXoenzKiQQIFUghgSr/f/hPXpWfp8MHntAsj7mydzDP06kH0q5bWMM19PbM5JjB5C5zyB3b/ADitbxrVFCT5U+rvZebsg5XGN+VskurtEihmLL8iFsbmB3nAYc+9ec3+nX+pX0zvHyx3BwMg5PqDXWnT5rm2a5M4KxPtdASuVHpg8HpSeQLWOKRnD+cm4/LngcAc9819ri6mWYbKFhsLX56nNd2TV353WyW3meZCniKmI55waVjB0TRJJLpFeAsuT1BBbHJxzzXYzQsEjWSCSLDY+eLv3JGen/16pyTfZVtJY3CSmMuxVF55IHtzjFJJezX6yyzOrFFByETOMjpXwcpym7nrxhJKybE1rShrMUlsFe3A+cMYg20KuRwSOtcJ4i0mXQvIPm+YZQQMxlQOnQ5Of0/WvSSIpLuBsqIrmPaI/LUDt1x2+npXNXmhtqRWSaWJ4/NKxjYRtOB6VEVFu8jGrh4zfNJNv0Zh3XhD7LZ3V4mpLcSRpu8pYvvDkkg7/b0q74W8Ft4k0wXi3YhALMY2hLDjPTn25p134UvmWSS1nt4VjVoZQwboxPT5T1FQaE91ok8dp50O2Il5NoJBQ8tgkdcGtPZxa03MXhaezix2t69MEtbKKWYCzRoQ+7G4bsn6AcYGeKyFvE+z+WIdkwIzJuPI4wAB/nmtnUdCTU4fPs2jRwCzbiwyM49/8mjTtAsoAtvqcn+mu2ImhyVydu3PHTnmsVTmtUzy5YKve+n9fI+vTHEjkwxLEp4PIJ/kK6jSNO/sPW9DnLrP9rRZNpXbt3DbjvnG7NfNc/xC1qa1lgufFOo3EJxiOS7nZBjOOKpT+LL4WqKNau22HgiaTGPbNfqP/EPsW1Z14/cy/wC0ofys+kHb+yPExIAl8i4JAPGcNn8K3WtzHrniHTshvtMZlEuPu8b8Y79cZ9q+VZ/HF9PPHNLrl9JgY+aaQn+dRS+NL6UyQzaxfShh8u6Zzjn3PsKf/EPcU968fuYv7Sh/KfTwuAdE0rUNgP2G78nyweH6SZz29O9SDxho/hHxnNYajeRQSanGtwjS5ULvJIA/vHJx1FfK1z4tuHWNZdQvpGTjc0hPHpy2aafEiz3izyXM8zA/J5o3lTwcjJ45Aqn4eYi38dfczSnmVLm9+Lt5H1DeXsHhrwp4hR7L+0LW3tjdRzINgdcoBjKkc5zmsH4d+LdP8cXGlNHozWrW0qxbTIr7gZCc/cHrXgEnieW6351C7LlixK5Hsf4qpza8Y7tplluFnbGZR94jHc5ql4d1nviVf/C/8yHmcL6Rf3n1XY6FDZSTX0WnuwsZ48xMmQ43Nn+HjoPXrTrPwlLb6pDcRabI0SRLdgG2OCQnmbMgevH9K+U28QedMrtcXX2hF2bzycc8Z3ZpJfEK3kHl3M91Lg5G8b/5tT/4h5X/AOglf+Av/Mn+04/y/ifVRsU0/TUtry0WAahMuWnj2eSFccjI5zu9q8X8QfFhbm11S0GixRP5JsPMWYEjKshkHy9gAfr3ry7Ubm3v0h5dPKyBlBzn8faqLQwYkOWyefmUD+taLw7n1xP/AJJ/9sH9pL+X8f8AgHTaNqL6ZrdrP5skv2ILcLG0n+uwwbHfOT6+ldF4NNg2jazdXN1HHMP3yQTOM8B/lGfr2FedWkVvcgFpRFt4+fj+VWf7OgkLEXkWPdiP6VqvDy3/ADFf+Sf/AG43mV9ofj/wD0m3+MSiwaBdAicjbz5noCD/AAd8j9asSfGezneZh4ZXc7Bxi4GV6/8ATP3/AE968rGkxyE7bmDjuX/+tUY0nacia2Y5/hlGal+Hrvpiv/JP/tif7RX8v4jPt9tcADZKGB4ximS6vbxuU8p93uQAay5Z/LkB2r643FjSl1uhuEDM4/ujH8q/abHgmpHqFrKgQwsD254/SnDUoC3zQEMOmW/zishbxQNrxpkDAJdjilkvBG2FUEEfw8fzFFgNb+042zm26DqWyPzxUY1OFefswU9sSVlLekt8kSjjpI4/+tSDUxv+ZVT2jX/69FgNsapBu3CB+nJHT+lRya5bbsfZ8t0+bB/lWR9rZ8stoG7l8sfxqAzqcksv+6vBP6U+UaNoamxUMsES+zD/ABNOXVE/jgjbP9wH+tY66gqgBYjkd35qwLx2Ri+I06EKf0xmlYDRk1iCDCm1KgjPzMB+nepU1O0B/wBQ5/3VH86xPtdoJMGBpfckrz+dT+asu3hokHfGP5UWA1HuNPCZLeR3wqkn+tQfbbN+VaVj6suapObVVYCUu23g4JFVTtlcr5o29gAQB+dFgRtrPZSZ/wBJLY/h2nFSoIHBP2pUTGPukVioILZQWkJJHAIODTGvFn4LgJ6Z4H1osHof/9k=' %>" alt="<%= data.name %>" style="float: left" width="100px">
            </div>
            <div class="item">
                    <h2 class="text-center"><strong class="text-<%= data.id %>"><%= data.ip %> </strong></h2>
                </div>                                      
            </div>
            <div class="card-title">
                <p class="text-center"><%= data.desc %></p>
            </div>
        </div>
    </div>
    <br>
    <div class="card bg-dark players">
        <div class="card-header">Players</div>
        <div class="card-body player-list"></div>
    </div>
<br>    
<div class="card bg-dark">
    <div class="card-header">Players Overtime</div>
    <div class="card-body h-100 d-flex align-items-center justify-content-center"><div class="serv"><canvas id="myChart"></canvas></div></canvas></div>
</div>
</div>

</div>
</div>
<%- include('../partials/footer') %>

<script src="../assets/index.js"></script>
<script>getServerGraph(); getPlayers();</script>
</body>
</html>
